#h1 {color: #0A06F4;
text-align: center;
font-family: serif;
font-size: 42px;
font-weight: normal;
position: relative;
top: 60px;}

a:hover {
    color: red;
}

a {
	text-decoration: none;}

#rvw {
position: absolute;
top: 160px;
left: 210px;
font-style: italic;
font-weight: normal;
font-size: 35px;}

#clln {
position: absolute;
top: 160px;
left: 360px;
font-style: italic;
font-weight: normal;
font-size: 35px;}

#tr {
position: absolute;
top: 160px;
left: 550px;
font-style: italic;
font-weight: normal;
font-size: 35px;}

#tl {
position: absolute;
font-weight: normal;
top: 160px;
left: 770px;
font-style: italic;
font-size: 35px;}

#tg {
position: absolute;
font-weight: normal;
top: 160px;
left: 1000px;
font-style: italic;
font-size: 35px;}