#h1 {color: #0A06F4;
text-align: center;
font-family: serif;
font-size: 42px;
font-weight: normal;
position: relative;
top: 60px;}

a:hover {
    color: red;
}

a {
	text-decoration: none;}

#rvw {
position: absolute;
top: 30%;
left: 12%;
font-style: italic;
font-weight: normal;
font-size: 2em;}

#clln {
position: absolute;
top: 30%;
left: 25%;
font-style: italic;
font-weight: normal;
font-size: 2em;}

#tr {
position: absolute;
top: 30%;
left: 40%;
font-style: italic;
font-weight: normal;
font-size: 2em;}

#tl {
position: absolute;
font-weight: normal;
top: 30%;
left: 58%;
font-style: italic;
font-size: 2em;}

#tg {
position: absolute;
font-weight: normal;
top: 30%;
left: 75%;
font-style: italic;
font-size: 2em;}